@charset "utf-8";

/* CSS Document */
body {
	margin-top: 0px;
	background: url('../img/pd_rz_04.jpg');
	background-color: #FFFFFF;
	background-repeat: repeat-x;
}

.backHeader {
	background: url('../img/pd_rz_fondo.jpg');
	height: 76px;
	vertical-align: bottom;
}

#container {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#containerLogin {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#shadowTop {
	background: url('../img/pd_rz_02.jpg');
	background-repeat: repeat-x;
	height: 9px
}

#shadowLeft {
	float: left;
	background: url('../img/pd_rz_14.jpg');
	background-repeat: repeat-y;
}

#shadowRight {
	float: right;
	background: url('../img/pd_rz_14d.jpg');
	background-repeat: repeat-y;
}

#shadowDown {
	background: url('../img/pd_rz_16cn.jpg');
	background-repeat: repeat-x;
	height: 22px;
	clear: left
}

#header {
	float: left;
	width: 930px;
}

#headerLogin {
	float: left;
	width: 770px;
}

#footer {
	width: 856px;
	clear: both;
	height: 62;
}

#footerLogin {
	width: 694px;
	clear: both;
	height: 62;
}

#principal {
	width: 930px;
	float: left;
	background-color: white;
}

#principal_finalPublic {
    width: 690px;
    float: left;
    background-color: white;
}

#content_principal_finalPublic {
    float: left;
    width: 690px;
    border: 1px solid #4584F5;
    min-height: 529px;
}


#principalLogin {
	width: 770px;
	float: left;
	background-color: white;
}

#content_principal {
	float: left;
	width: 854px;
	border: 1px solid #4584F5;
	min-height: 529px;
}

#content_principalLogin {
	float: left;
	width: 694px;
	border: 1px solid #4584F5;
	min-height: 310px;
}

#content {
	float: left;
	width: 676px;
	margin-left: 10px;
	margin-top: 10px;
}

#contentLogin {
	float: left;
	width: 674px;
	margin-left: 10px;
	margin-top: 10px;
}

#menu {
	float: left;
	width: 168px;
	padding: 0px;
	margin-left: 0px;
	margin-top: 10px;
}

#menu_header {
	display: block;
	background-color: #FF9900;
	padding: 3px 0px 4px 3px;
	border: 1px solid #000000;
	color: #333333;
	width: 159px;
}

#shadowLeft,#shadowRight,#principal {
	padding-bottom: 32767px !important;
	margin-bottom: -32767px !important;
}

#wrapper {
	overflow: hidden;
	display: block;
}

.titulo_panel_login {
	font-size: 11px;
	color: #FFFFFF;
	border: 1px solid #5e8bb9;
	background-color: #5e8bb9;
	padding: 8px;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-weight:bold;
}

.titulo_panel_login2 {
	background-color:#DDDDDD;
	border: 1px solid #DDDDDD;
	font-size: 11px;
	color: #555555;
	padding: 4px;
	font-family:Geneva, Arial, Helvetica, sans-serif;
}

.panel_login {
	font-size: 11px;
	color: #000000;
	border: 1px solid #5e8bb9;
	background-color: #FFFFFF;
	padding: 8px;
	font-family:Geneva, Arial, Helvetica, sans-serif;
}

.panel_login2{
	background-color:#FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 11px;
	color: #555555;
	padding: 4px;
	font-family:Geneva, Arial, Helvetica, sans-serif;
}

.width_general {
	width: 98%;
	text-align: left;
}

.width_principal1 {
	width: 100%;
	text-align: center;
}

.width_principal2 {
	width: 99%;
	text-align: left;
}

.width_principal3 {
	width: 100%;
	text-align: right;
	font-weight: normal;
}

.message_validation {
	color: red;
}

.global_message_info {
	font-size: 11px;
	color: #333333;
	border: 1px solid #ccff00;
	background-color: #F1FCD8;
	padding: -14px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	width: 99%;
	text-align: left;
}

.global_message_info_title {
	font-size: 11px;
	color: #333333;
	border: 1px solid #ccff00;
	background-color: #ccff00;
	padding: 8px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
}

.global_message_error {
	font-size: 11px;
	color: #333333;
	border: 1px solid #ff3333;
	background-color: #FBE2E1;
	padding: -14px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	width: 99%;
	text-align: left;
}

.global_message_error_title {
	font-size: 11px;
	color: #ffffff;
	border: 1px solid #ff3333;
	background-color: #ff3333;
	padding: 8px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
}

.required {
	background-color: #FAD6B6;
}

img {
	border: 0px;
}

.header_richPanel {
	width: 100%;
	font-weight: bold;
	font-size: 11px;
	font-family: Arial;
	margin: 1px;
	text-align: left;
}

.header_panelGrid {
	background-color: #dddddd;
	color: #555555;
	width: 100%;
	font-weight: bold;
	font-size: 11px;
	font-family: Arial;
	margin: 1px;
	text-align: left;
}

.style_panelGrid {
	width: 100%;
	text-align: left;
	font-size: 11px;
	font-family: Arial;
	color: #000000;
	border: 1px;
	border-style: double;
	border-color: #dddddd;
}

.align_center {
	text-align: center;
}

.align_right {
	text-align: right;
}

.align_left {
	text-align: left;
}

.col {
	width: 50%;
	vertical-align: top;
	height: 100%
}

.col_principal1 {
	width: 50%;
	vertical-align: top;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 1px;
	border-top: 0px;
	border-style: double;
	border-color: #dddddd;
}

.col_principal2 {
	width: 50%;
	vertical-align: top;
	border-bottom: 0px;
	border-left: 1px;
	border-right: 0px;
	border-top: 0px;
	border-style: double;
	border-color: #dddddd;
}

.col1 {
	width: 30%;
	vertical-align: top;
	text-align: left;
}

.col2 {
	width: 70%;
	vertical-align: top;
	text-align: left;
	color: #555555;
}

.col3 {
	width: 12%;
	vertical-align: top;
	text-align: left;
}

.col4 {
    width: 50%;
    vertical-align: middle;
    height: 100%
}

.link_gray {
	color: #555555;
}

.title {
	color: #FF881C;
	padding: 6px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 18px;
}

.row_odd {
	background-color: #eeeeee;
	height: 100%;
}

.row {
	background-color: #ffffff;
}

.sort_result {
	background-color: #A4C7EE;
	width: 100%;
	height: 20px;
}

.table_result {
	width: 99%;
	margin-top: 4px;
	margin-bottom: 4px;
	background-color: #5e8bb9;
	border-color: #5e8bb9;
	font-size: 2px;
}

.table_result_label {
	width: 100%;
	text-align: center;
	font-size: 11px;
	font-family: Arial;
	color: #555555;
	border-bottom: 1px;
	border-left: 1px;
	border-right: 1px;
	border-top: 0px;
	border-style: double;
	border-color: #dddddd;
	padding: 3px;
}

.result_messages {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    font-family: Arial;
    color: #555555;
    border-bottom: 1px;
    border-left: 1px;
    border-right: 1px;
    border-top: 1px;
    border-style: double;
    border-color: #dddddd;
    padding: 3px;
}

.header_table_result {
	vertical-align: bottom;
	border: 0px;	
}

.table_consult_button {
	width: 100%;
	text-align: right;
	font-size: 11px;
	font-family: Arial;
	color: #000000;
	border-bottom: 1px;
	border-left: 1px;
	border-right: 1px;
	border-top: 0px;
	border-style: double;
	border-color: #dddddd;
}


.table_consult_button_center {
	width: 100%;
	text-align: center;
	font-size: 11px;
	font-family: Arial;
	color: #000000;
	border-bottom: 1px;
	border-left: 1px;
	border-right: 1px;
	border-top: 0px;
	border-style: double;
	border-color: #dddddd;
}




.button_orange {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	background-color: #FF881C;
	border-style: double;
	border-color: #FF1c1C;
	border-width: 1px;
	padding-left: 10px;
	padding-right: 10px;
}

.button_grey {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	background-color: #dddddd;
	border-style: double;
	border-color: #555555;
	border-width: 1px;
	padding-left: 5px;
	padding-right: 5px;
}

.button_white {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #ffffff;
	border-style: double;
	border-color: #555555;
	border-width: 1px;
	padding-left: 10px;
	padding-right: 10px;
}

/* datascroller */
.rich-datascr {
	border: 0px;
}

.rich-dtascroller-table {
	border: 0px;
	background-color: #ffffff;
}

.rich-datascr-ctrls-separator {
	color: #FFCC00;
	border: 1px;
}

.rich-datascr-button {
	color: #000000;
	text-decoration: underline;
	border: 0px;
	background-color: #ffffff;
	font-size: 11px;
}

.rich-datascr-act {
	color: #000000;
	font-size: 11px;
}

.rich-datascr-inact {
	color: #dddddd;
	text-decoration: underline;
	font-size: 11px;
}

.rich-datascr-button-dsbld {
	color: #dddddd;
	text-decoration: underline;
	border: 0px;
	background-color: #ffffff;
	font-size: 11px;
}

.rich-pmenu-top-group {
	background-image: url('../img/pd_brillo.jpg');
	background-position: center;
	background-color: #FF9900;
	border: 0px;
	height: 35px;
	border: 1px solid #000000;
	color: #333333;
	width: 160px;
	padding: 3px 0px 4px 3px;
	margin-top: 10px;
}

.rich-pmenu-group {
	text-align: left;
	border: 0px;
}

.rich-pmenu-top-group-div {
	border: 0px;
	text-align: left;
}

.rich-pmenu-top-group-self-label {
	text-align: left;
}

.rich-pmenu-group-self-label {
	text-align: left;
	border-bottom: 1px dashed #C39C4E;
}


.rich-pmenu-item {
	font-size: 11px;
	float: inherit;
	border-top: 0px;
	margin-left: -40px;
}

.rich-pmenu-item-label {
	color: #666666;
	text-align: left;
	border-bottom: 1px dashed #C39C4E;
}

.rich-pmenu-item-icon {
	visibility: hidden;
}

.rich-pmenu-item-selected {
	color: #666666;
	text-align: left;
	font-weight: normal;
}


.rich-fileupload-toolbar-decor {
	background-color: #5e8bb9;
}

.tabla{
	font-size: 10px;
}

.header_tabla {
	vertical-align: bottom;
	border: 0px;
	font-size: 10px;	
}
.date_short {
    width: 85px;
}
.header_pick_list {
	background-color: #ffffff;
	color: #555555;
	width: 100%;
	font-weight: bold;
	font-size: 11px;
	font-family: Arial;
	margin: 1px;
	text-align: left;
}

.orange_text {
	color: #FF881C;
}

.bold_text {
    font-weight: bold;
}

.midsize_field {
    width: 110px;
}

/* runt_2.css*/
/* Estilos definidos para los componentes de captura de datos */

/* Aplican a todos los componentes */
select {
	border: 1px solid #AAAAAA;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #555555;
}

input[type="text"] {
	border: 1px solid #AAAAAA;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}

textarea {
	border: 1px solid #AAAAAA;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}

a:hover,a:active {
	text-decoration: underline;
	color: #9685ba;
}

/* Aplica a los campos requeridos */
.required {
	border: 1px solid #AAAAAA;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	background-color:#FAD6B6;
}

/* Aplica a las tablas y páneles */

.grayHeader {
	background-color: #dddddd;
	border-color: #dddddd;
}

.formBk1 {
	background-color: #ffffff;
}

.formBk2 {
	background-color: #eeeeee;
}

.formClass {
	border-spacing: 0pt; 
	border-width: 0pt; 
	border-collapse: collapse;
}

.formClass td {
	padding-top:2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

.formTitle {
	color: #FF881C;
	background-color: #FFFFFF;
	padding: 6px;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 18px;
}

.mainButton {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight:bold;
	background-color: #FF881C;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FF1c1C;
	border-right-color: #FF1c1C;
	border-bottom-color: #FF1c1C;
	border-left-color: #FF1c1C;
	border-width:thin;
	width:200px;
}

.errorMessage {
	color: #FF0000;
	font-weight:bold;	
}

.headerMsgError {
	font-size: 11px;
	color: #ffffff;
	border: 1px solid #ff3333;
	background-color: #ff3333;
	padding: 4px;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-weight:bold;
}


.bodyMsgError {
	font-size: 11px;
	color: #333333;
	border: 1px solid #ff3333;
	background-color: #FBE2E1;
	padding: 4px;
	font-family:Geneva, Arial, Helvetica, sans-serif;
}

.headerMsgOk {
	font-size: 11px;
	color: #333333;
	border: 1px solid #ccff00;
	background-color: #ccff00;
	padding: 8px;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-weight:bold;
}	

.bodyMsgOk {
	font-size: 11px;
	color: #333333;
	border: 1px solid #ccff00;
	background-color: #F1FCD8;
	padding: 8px;
	font-family:Geneva, Arial, Helvetica, sans-serif;
}

.normalInput {
	background-color: #ffffff; 
}

.col_sinbordeder {
	width: 25%;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	padding: 5px;
	vertical-align: top;
}

.col_conbordeder {
	width: 25%;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 2px;
	border-top: 0px;
	border-style: double;
	border-color: #dddddd;
	padding: 5px;
	vertical-align: top;
}

.col_sinbordederespacio {
	width: 75%;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	padding: 5px;
	vertical-align: top;
}

.col_sinbordederfiltro {
	width: 15%;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	padding: 5px;
	vertical-align: top;
}

.col_sinbordederfiltrofinal {
	width: 35%;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	padding: 5px;
	vertical-align: top;
}

.col_conbordederfiltro {
	width: 35%;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 2px;
	border-top: 0px;
	border-style: double;
	border-color: #dddddd;
	padding: 5px;
	vertical-align: top;
}

.col_doscolumnas {
	width: 50%;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	padding: 5px;
}

.col_botonbuscar {
	width: 50%;
	border-bottom: 1px;
	border-left: 2px;
	border-right: 1px;
	border-top: 0px;
	padding: 5px;
	border-left: -2px;
	border-style: double;
	border-color: #dddddd;
	text-align: center;	
}

.col_valhuella1 {
	width: 20px;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	padding: 5px;
}

.col_valhuella2 {
	width: 30%;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	padding: 5px;
}

.col_valhuella3 {
	width: 70%;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	padding: 5px;
}

.button_grey_mini {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #dddddd;
	border-style: double;
	border-color: #555555;
	border-width: 1px;
	padding-left: 5px;
	padding-right: 5px;
}

.button_orange_mini {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #FF881C;
	border-style: double;
	border-color: #FF1c1C;
	border-width: 1px;
	padding-left: 5px;
	padding-right: 5px;
}


.col_sinbordederPrenda {
		width: 12%;
		border-bottom: 0px;
		border-left: 0px;
		border-right: 0px;
		border-top: 0px;
		padding: 5px;
		vertical-align: top;
}

.col_sinbordederPrendaAux {
		width: 38%;
		border-bottom: 0px;
		border-left: 0px;
		border-right: 0px;
		border-top: 0px;
		padding: 5px;
		vertical-align: top;
}
   
.col_conbordederPrenda {
	width: 38%;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 2px;
	border-top: 0px;
	border-style: double;
	border-color: #dddddd;
	padding: 5px;
	vertical-align: top;
}

.item_fth_col1 {
	width: 30%;
	vertical-align: top;	
}

.item_fth_col2 {
	width: 10%;
	vertical-align: top;	
	text-align: center;
}

.item_fth_col3 {
	width: 10%;
	vertical-align: top;	
}

.gridFields {
	width: 100%;
}

.subColumn1 {
	width: 20%;
}

.subColumn2 {
	width: 80%;
}

/* Estilos del menu DHTML */

span.dhtml_menu_items{
    line-height: 15px;
    font-size: 11px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    margin-top:2px;
    margin-bottom:2px;
    display: block;
}

#apy_t0i0textTD{
    background:#FF881C url(../img/pd_brillo.jpg) no-repeat scroll 0 0;
    height: 27px;
    width: 100%;
    white-space: normal;
    border: none;
}

.div_interno{
    text-align: left;
    border-bottom: 1px dashed #C39C4E;
    padding-top: 2px;
}

/* Estilos para el componente Tree */
.rich-tree-node-text {
    cursor: default;
    padding: 1px 4px;
    white-space: nowrap;
    width: 100%;
}

.rich-tree-node-highlighted {
    text-decoration: underline;
    color: #E79A00;
}

.rich-tree-node-selected {
    background-color: transparent;
    background-position: left top;
    background-repeat: repeat-x;
    border-color: #BED6F8;
    border: 1px solid;
    padding: 0 3px;
}

.column-width {
	width: 800px;
	word-break: break-all;
}

td.rich-tree-node-text {
	white-space: normal;
}

.rich-calendar-input{
    width: 90px;
    text-align: right;
}

.finish_action_button{
	width: 100%;;
}

.background_content{
	width: 856px;
}

.modal-content-scroll{
	float:left;
	overflow-y: auto;
	height: 500px;
	width: 400px;
	resize: none;
}